html {
 font-family: 'Khula', sans-serif;
}

/* header styles */

header {
 width: 60%;
 margin: 10px auto;
 text-align: center;
 border-bottom: 2px dotted #B20096;
}

/* nav, #headline, #header-image {
  display: inline-block
} */

nav, #headline {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#headline {
  line-height: 1em;
  margin-top: 2em;
}

nav, li, a {
  font-size: 110%;
  color: #800080;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  display: inline;
}

nav a {
  margin-right: 10%;
}

nav a:hover {
  color: #00FF00;
}

img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border: 2px solid #00FF00;
}

#header-image {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* main styles */

main {
width: 40%;
margin: 50px auto;
position: relative
}

.blog-preview {
  border: 1px solid #B20096;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 5px #888888;
}

.blog-preview h3 {
font-weight: bolder;
background-color: #B20096;
color: #fff;
padding-left: 20px;
border-radius: 7px;
}

.blog-preview h4 {
  font-weight: bolder;
}

.blog-preview a {
  font-weight: bolder;
  color: #800080;
}

.blog-preview a:hover {
  font-weight: bolder;
  color:#00FF00;
}

.blog-preview p {
  color: #A3AAA3;
}

block-quote {
 font-family: 'Arvo', serif;
}

/* social media aside styles */

aside {
  position: fixed;
  bottom: 20%;
  left: 5%;
  height: 50%;
}

ul#social li a {
width: 70px;
height: 70px;
display: block;
text-indent: -9999em;
background: url('../imgs/social.png');
opacity: 0.5;
}

#social #tw {
  background-position: 0 0;
}

#social #gh {
  background-position: -237px 0;
}

#social #ldin {
 background-position: -316px -79px;
}

#social #gp {
  background-position: -157px -79px;
}

/* footer styles */

footer {
  font-size: 75%;
  color: white;
  background-color: #B20096;
  height: 20px;
  positon: absolute;
  bottom: 0;
  font-weight: bolder;
}